# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# TensorFlow
*.h5
*.keras

# Uploads
static/uploads/

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/